header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 140, 157);
  color: white;
}

.addTasks {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addTasks input {
  height: 2rem;
  width: 50%;
}

.addTasks button {
  margin-top: 1rem;
  height: 2rem;
  background-color: lightgrey;
  border: none;
  color: gray;
}
.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(0, 178, 205);
  justify-items: center;
  align-items: center;
  height: 5rem;
  margin-top: 1rem;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

a:focus {
  animation: animateLink 1s ease forwards;
}

.routesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
@keyframes animateLink {
  from {
    transform: scale(1);
    color: white;
  }

  to {
    transform: scale(1.5);
    color: black;
  }
}

.deleteAll-btn {
  margin-left: 50%;
  margin-top: 2rem;
  height: 2.5rem;
  border: none;
}
